<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="/assets/Mayukh Bhattacharyya Resume.pdf"><i class="fa-solid fa-file"></i>Resume</a></li>
      <li><a href="/work_ex"><i class="fas fa-briefcase"></i> Work Experiences</a></li>
      <li><a href="/projects"><i class="fas fa-code"></i> Projects</a></li>
      
      <li><a href="https://www.linkedin.com/in/mayukh1802/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="https://github.com/mayukh18"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://www.kaggle.com/mayukh18"><i class="fab fa-kaggle"></i> Kaggle</a></li>
      <li><a href="https://medium.com/@em.bee"><i class="fab fa-medium"></i> Medium Blog</a></li>
      <li><a href="https://scholar.google.com/citations?user=VQW2tKcAAAAJ&hl=en"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <!--<li><a href="https://twitter.com/mayukh18"><i class="fab fa-twitter"></i> Twitter</a></li>-->
    </ul>
  </div>
